export ENVIRONMENT="homeinfra1"
export TAGS="" # for example  TAGS="common", or TAGS="opennebula" or TAGS="all" or comma separated
#export TASK="" # TASK from which the run will start (for debugging)
#export server_fqdn="172.217.19.78"
export server_fqdn=""
export ansible_user="" # user that ansible will use to ssh to and run commands